@import '../../App.scss';

#Skills {
  height: 70vh;
  padding: 100px 0;
}
.Skills_header {
  width: 100%;
  display: flex;
  justify-content: center;
  &_wrapper {
    width: 40rem;
    p {
      text-align: center;
      display: inline-block;
      padding: 20px 20px;
      color: black;
      font-family: aglet-slab, sans-serif;
      font-weight: 400;
    }
  }
}

.Skills_body {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  &_col_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    border-right: 1px dashed black;
    position: relative;
    p {
      width: 65%;
      padding: 20px 10px 10px;
      margin-left: 20px;
      font-family: aglet-slab, sans-serif;
      font-weight: 400;
      text-align: left;
    }
  }
  &_col_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: forma-djr-deck, sans-serif;
    font-weight: 700;
  }
}

.Skills_title {
  width: 70%;
  text-align: left;
  border-bottom: 1px dashed black;
}

@media screen and (max-width: 950px) {
  .Skills_body {
    grid-template-columns: repeat(1, 1fr);
  }
  .Skills_title {
    border: none;
  }
  .Skills_body_col_1 {
    border: none;
  }

  #Skills {
    width: 100vw;
    height: auto;
  }
}
